<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

  <title>Sobre mim</title>  

<link href="static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/index.html" title="">01 : Home</a></li>
          <li><a href="/works.html" title="">02 : Experiências e Projetos</a></li>
          <li><a href="/about.html" title="">03 : Sobre mim</a></li>
          <li><a href="/contact.html" title="">04 : Contato</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : Sobre mim</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Formações</h3>
                  <p>
                  Me formei em Educação Física em 2016.
                  Durante minha formação completei varios cursos na área de Educação Física,
                  como curso de couching de emagrecimento e bem estar, e cursos voltados a 
                  área fitness.
                  Atualmente estou cursando o curso técnico de Análise e desenvolvimento de sistemas 
                  pela Descomplica, com previsão de termino em Dezembro de 2024.
                  Juntamente com o curso técnico tenho certificado de Python Zero to Mastery,
                  que fiz na Udemy pela escola ZTM. Ministrada por Andrei Negoie. E também
                  estou finalizando o curso de Formação Cientista de Dados pela Udemy, ministrada por 
                  Fernando Amaral.
                  </p>
                  <h3>Intercâmbio</h3>
                  <p>                  
                  Realizei um intercâmbio de 2 anos como Aupair nos Estados Unidos, e foi uma experiência que 
                  me trouxe muito conhecimento e amadurecimento, aprendi e desenvolvi a lingua inglesa na prática do dia a dia conversando com os adolescente que eu tinha que cuidar.
                  A casa Familia que morei junto era uma Foster Family o que significa que as crianças e adolescentes que tive contato, estavam para serem adotados e alguns acambaram sendo adotados pela família a qual eu estava morando, e isso foi um pouco mais desafiador pois no inicio meu inglês era intermediário- básico o que dificultava um pouco quando precisava passar alguma instrução para os meninos, pois o mais novo na época tinha 10 anos e o resto era mais adolecente na faixa de 15 anos o uma idade que quer desafiar mais, porém com o dia a dia e com a minha experiência prévia como professor consegui consquista o respeito deles e eles até me ajudaram a melhorar bastante meu inglês, hoje consigo conversar em inglês com facilidade, de vez em quando converso com a familía e alguns deles.              
                  </p>
                  <h3>Experiências</h3>
                  <p>
                  Tenho experiência em trabalhar em grupo, me adapto fácil a mudanças, busco sempre fazer as coisas da melhor forma possivel, sempre aberto para aprender coisas novas e trocar experiências com colegas de trabalho.
                  Já trabalhei como vendedor de celular e isto me ajudou desenvolver algumas soft skills como ter uma boa comunicação para poder explicar da melhor forma ao cliente que tipos de serviços e aparelhos a loja tem para oferecer para ele, capacidade de negociação para poder ajudar o cliente a resolver da melhor forma possivel os problemas dele como forma de pagamento e que tipo de serviço seria melhor para ele, segundo os objetivos dele, e aprendi um pouco sobre rapport para poder melhorar cada vez mais meu atendimento.
                  Trabalhando como professor pude desenvolver outras soft skill como criatividade para que poder ensinar da melhor forma, diferentes tipos de perfis de pessoas, pois dava aula para todas as idades, do bebê de 2 anos ate o idoso de 70 anos, o que me possibilitou a trabalhar minha mente em como posso melhorar cada vez mais a minha aula e como posso solucionar problemas na aula como fazer o aluno entender como realizar determinado tipo de movimento ou realizar determinado tipo de atividade.
                  Estudando Python consegui fazer esse site completo para formar meu próprio portifolio, aprendi a realizar codigos para analise de dados usando bibliotecas como Pandas, matplot, Numpy entre outros, melhorei minha capacidade de pesquisa para entender melhor as documentações de cada biblioteca, e tirar minhas dúvidas e realizar o código da melhor forma, tambem pude realizar codigos para por exemplo mudar a extenção de um arquivo de JPEG para PNG, automações como envio de emails, Utilizar API para extrair informações da internet. 
                  E com esses cursos venho me empenhando cada dia mais para melhor meu raciocinio lógico e pensar de forma mais analítica. 
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="static/assets/images/perfil.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="static/main.70a66962.js"></script></body>

</html>